{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% if user.is_authenticated and user.is_project_creator %}

<div class="card">
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Update Task</legend>
                {{ form.media }}

                {{ form|crispy }}
            </fieldset></br>
            <div class="form-group">
                <button class="btn btn-outline-success" type="submit">Update</button>
            </div>
        </form>
    </div>
</div>
{% endif %}
{% endblock content %}
