{% extends "users/base.html" %}
{% block content %}
{% if user.is_authenticated and user.is_hod %}
<div class="col-12">
    {% with user.hod.department as department %}
    {% for x in obj %}
    {% if x.department == department %}
    <div class="card mx-2 mt-2">
        <div class="card-body">
            <div>
                <!--<h6><a class="text-dark" href="{{ x.slug }}">{{ x }}</a></h6>-->
                <h2 class="text-primary">{{ x }}</h2>
                <h9 class="text-success">Department-{{ x.department }}</h9>

<!--                <h9 class="text-success">Teams:{% for y in x.teams.all %} <span>{{ y }},</span> {% endfor %}</h9>-->

            </div>
            <hr>
            <div>
                <h6 class="text-muted">{{ x.project_description }}</h6>
            </div></br>
            <a href="{% url 'hod_detail_view' x.slug %}" class="btn btn-primary float-end">View</a>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% endwith %}
</div>

{% endif %}
{% endblock content %}
