{% extends "users/base.html" %}
{% block content %}
{% if user.is_authenticated and user.is_hod %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<div class="card mb-1" style="background-image: linear-gradient(160deg, rgba(2,0,36,1) 0%, #140b48 60%, #4532b5 100%)" >
    <div class="card-body">
        <div class="row">
            <div class="col-12 text-center">
                    <select id="drop" class="btn btn-light dropdown-toggle text-uppercase text-light" style="background-image: linear-gradient(160deg, rgba(2,0,36,1) 0%, #140b48 50%, #4532b5 100%); width: 230px">
                        <option class="text-dark">Select Specific Batch</option>
                        <option class="dropdown-item text-start" value="1">All</option>
                        <option class="dropdown-item text-start" value="2">B.E.</option>
                        <option class="dropdown-item text-start" value="3">T.E.</option>
                        <option class="dropdown-item text-start" value="4">S.E.</option>
                        <option class="dropdown-item text-start" value="5">F.E.</option>
                    </select>
            </div>
        </div>
    </div>
</div>

<div id="Page1" class="col-12 page">

    {% for x in obj %}
    {% if x.department == user.hod.department and x.college == user.hod.college %}
    <div class="card mx-2 mt-2">
        <div class="card-body">
            <div>
                <h2 class="text-primary">{{ x }}</h2>
                <h9 class="text-success">Department- {{x.batch}} {{ x.department }}</h9>

            </div>
            <hr>
            <div>
                <h6 class="text-muted">{{ x.project_description }}</h6>
            </div></br>
            <a href="{% url 'hod_detail_view' x.slug %}" class="btn btn-primary float-end">View</a>
        </div>
    </div>
    {% endif %}
    {% endfor %}

</div>

<div id="Page2" class="col-12 page">

    {% for x in obj1 %}
    {% if x.department == user.hod.department and x.college == user.hod.college %}
    <div class="card mx-2 mt-2">
        <div class="card-body">
            <div>
                <h2 class="text-primary">{{ x }}</h2>
                <h9 class="text-success">Department- {{x.batch}} {{ x.department }}</h9>

            </div>
            <hr>
            <div>
                <h6 class="text-muted">{{ x.project_description }}</h6>
            </div></br>
            <a href="{% url 'hod_detail_view' x.slug %}" class="btn btn-primary float-end">View</a>
        </div>
    </div>
    {% endif %}
    {% endfor %}

</div>

<div id="Page3" class="col-12 page">

    {% for x in obj2 %}
    {% if x.department == user.hod.department and x.college == user.hod.college %}
    <div class="card mx-2 mt-2">
        <div class="card-body">
            <div>
                <h2 class="text-primary">{{ x }}</h2>
                <h9 class="text-success">Department- {{x.batch}} {{ x.department }}</h9>

            </div>
            <hr>
            <div>
                <h6 class="text-muted">{{ x.project_description }}</h6>
            </div></br>
            <a href="{% url 'hod_detail_view' x.slug %}" class="btn btn-primary float-end">View</a>
        </div>
    </div>
    {% endif %}
    {% endfor %}

</div>

<div id="Page4" class="col-12 page">

    {% for x in obj3 %}
    {% if x.department == user.hod.department and x.college == user.hod.college %}
    <div class="card mx-2 mt-2">
        <div class="card-body">
            <div>
                <h2 class="text-primary">{{ x }}</h2>
                <h9 class="text-success">Department- {{x.batch}} {{ x.department }}</h9>

            </div>
            <hr>
            <div>
                <h6 class="text-muted">{{ x.project_description }}</h6>
            </div></br>
            <a href="{% url 'hod_detail_view' x.slug %}" class="btn btn-primary float-end">View</a>
        </div>
    </div>
    {% endif %}
    {% endfor %}

</div>

<div id="Page5" class="col-12 page">

    {% for x in obj4 %}
    {% if x.department == user.hod.department and x.college == user.hod.college %}
    <div class="card mx-2 mt-2">
        <div class="card-body">
            <div>
                <h2 class="text-primary">{{ x }}</h2>
                <h9 class="text-success">Department- {{x.batch}} {{ x.department }}</h9>

            </div>
            <hr>
            <div>
                <h6 class="text-muted">{{ x.project_description }}</h6>
            </div></br>
            <a href="{% url 'hod_detail_view' x.slug %}" class="btn btn-primary float-end">View</a>
        </div>
    </div>
    {% endif %}
    {% endfor %}

</div>
    <script>
    $("#drop").on('change', function() {
  var value = $(this).val();
  if (value) {
    $(".page").hide();
    $("#Page" + value).show();
  }
});
</script>
{% endif %}
{% endblock content %}
