{% extends "users/base.html" %}
{% block content %}
{% if user.is_authenticated and user.is_coordinator %}


{% for x in obj %}
{% if x.department == user.coordinator.department and x.college == user.coordinator.college %}

<div class="card mx-2 mt-2">

    {% with x.id as project %}
    {% for y in enroll %}
    {% if y.project_id == project %}

    <div class="card-body">
        <div>
            <h2 class="text-primary">Project: {{ y.project }}</h2>
            <h9 class="text-success">Team: {{ y.team }}</h9>
        </div>
        <hr>
        <div>
            <h6 class="text-muted">Year: {{ y.batch }}</h6>
            <h6 class="text-muted">Enrolled on: {{ y.date_enrolled }}</h6>
        </div></br>
        <a href="{% url 'update_enroll_view' y.project_id %}" class="btn btn-primary float-end">Edit Enroll Details</a>
    </div><hr class="class-6 text-success" />

    {% endif %}
    {% endfor %}
    {% endwith %}

</div>
{% endif %}
{% endfor %}


{% endif %}
{% endblock content %}
