{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

{% if user.is_authenticated and user.is_student %}
<div class="card">
  <div class="card-body">
    <form method="POST">

      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Team Details</legend>
        <h4 class="">Team: <h5 class="text-muted">{{ obj }}</h5></h4>
        <div class="col-12">
        <h5 class="">Team members are: <h6 class="text-muted">{% for x in obj.members.all %} {{ x }}, {% endfor %}</h6></h5>
    </div>
      </fieldset></br>
    </form>
  </div>
</div>

{% endif %}
{% endblock content %}