{% extends "users/base.html" %}
{% load static %}

{% block content %}

<!--    <img src="{% static 'img/1.png' %}" alt="">-->
<div class="section full-height">
	<div class="center">
		<div class="section">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h1><span>W</span><span>E</span><span>L</span><span>C</span><span>O</span><span>M</span><span>E</span> <span>T</span><span>O</span><br></h1>
						<h1><span>S</span><span>T</span><span>A</span><span>C</span><span>K</span> <span>L</span><span>I</span><span>B</span><span>R</span><span>A</span><span>R</span><span>Y</span></h1>
						<p>Manage Your Project</p>
					</div>
					<!--					<div class="row">-->
					<!--<div class="col-12 mr-10%">-->
					<!--							<img class="center " src="{% static 'img/Screenshot.png' %}" width="100" height="200" >-->
					<!--</div>-->
				</div>
			</div></br></br>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-12">
			<h7>We <strong> "Stack Library" </strong> team welcomes you to our website.
				Our website helps you to manage your projects with different types of users.
				Where students works on assigned project while guide and industry mentor will help them to guide for better outcome.
				Project coordinator will look after all the things are working properly or not. Head of Department can view all the project details and progress. </h7>

			</br>	<a href="{% url 'main2' %}" class="btn btn-info bg-gradient float-end">Learn More</a>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-6">
			<div class="card">
				<div class="card-body rounded text-light" style="background-color: #2D2F60;">
					<h6 class="card-text">Register and keep going.</h6>
					<a href="{% url 'register' %}" class="btn btn-danger bg-gradient float-end">Get Started</a>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card" >
				<div class="card-body rounded text-light" style="background-color: #1A1C45;">
					<h6 class="card-text">Don't know where to start.</h6>
					<a href="https://youtube.com/playlist?list=PLbBqqKieqAU3aiWn0GQQ3XVsdxdhSFVJQ" target="_blank" class="btn btn-dark bg-gradient float-end">Watch Video</a>
				</div>
			</div>
		</div>
	</div>
	<hr>
</div>
</div>


<!-- Jquery needed -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


<!-- Function used to shrink nav bar removing paddings and adding black background -->
<script>
        $(window).scroll(function() {
            if ($(document).scrollTop() > 50) {
                $('.nav').addClass('affix');
                console.log("OK");
            } else {
                $('.nav').removeClass('affix');
            }
        });
    </script>

{% endblock content %}
