{% extends 'users/base.html' %}

{% block content %}

  {% load crispy_forms_tags %}
<div class="card" xmlns="http://www.w3.org/1999/html">
    <div class="card-body">
        <!--Password Reset Confirm-->
        <div class="container p-5">
            <h2 class="font-weight-bold mt-3">Password Reset Confirm</h2>
            <hr>
            <p>Please enter your new password.</p></br></br>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}</br>
                <button class="btn btn-primary" type="submit">Reset password</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}